<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Daily Planet News</title>
    <link rel="stylesheet" href="../../css/main.css">
  </head>
  <body>
    <nav>
      <a href="index">Home</a>
      <a href="articles">Todays' News</a>
      <a href="new">Add Article</a>
      <a href="contact">Contact</a>
    </nav>
