<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Add New Article</title>
  </head>
  <body>
    <h1>Give us the scoop...</h1>
    <form name="articles" action="/articles" method="POST">
      <label for="articleTitle">Article Title</label>
      <input id="articleTitle" type="text" name="title" value="">
      <label for="articleBody"></label>
      <input id="articleBody" type="text" name="body" value="">
      <input type="submit" value="Submit your scoop">
    </form>
  </body>
</html>
