<%- include ../partials/header.ejs %>

    <h1>Article Show Specific Request</h1>
    <article>
      <h2 class="article_title"><%= article.title %></h2>
      <p class="article_body"><%= article.body %></p>
    </article>

<%- include ../partials/footer.ejs %>
