<%- include ../partials/header.ejs %>

      <div>
          <h1>Thanks for visiting us!</h1>
          <p>Your feedback is always important to us.</p>
      </div>

<%- include ../partials/footer.ejs %>
